@charset "UTF-8";
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, h1, h2, h3, h4, h5, ol, p, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  transition: 0.4s;
}

input {
  outline: none;
}

button {
  outline: none;
  border: none;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html {
  font-size: 10px;
}
@media (max-width: 1400px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 10px;
  }
}
html[data-zoom-level="0.25"] {
  font-size: 40px;
}
html[data-zoom-level="0.25"] .header__logo {
  transform: scale(4);
}
html[data-zoom-level="0.33"] {
  font-size: 33px;
}
html[data-zoom-level="0.33"] .header__logo {
  transform: scale(3.3);
}
html[data-zoom-level="0.5"] {
  font-size: 20px;
}
html[data-zoom-level="0.5"] .header__logo {
  transform: scale(2);
}
html[data-zoom-level="0.67"] {
  font-size: 16px;
}
html[data-zoom-level="0.67"] .header__logo {
  transform: scale(1.6);
}
html[data-zoom-level="0.75"] {
  font-size: 13px;
}
html[data-zoom-level="0.75"] .header__logo {
  transform: scale(1.25);
}
html[data-zoom-level="0.8"] {
  font-size: 12px;
}
html[data-zoom-level="0.8"] .header__logo {
  transform: scale(1.2);
}
html[data-zoom-level="0.9"] {
  font-size: 11px;
}
html[data-zoom-level="0.9"] .header__logo {
  transform: scale(1.1);
}
html[data-zoom-level="1.1"] {
  font-size: 9px;
}
html[data-zoom-level="1.1"] .header__logo {
  transform: scale(0.9);
}
html[data-zoom-level="1.25"] {
  font-size: 8px;
}
html[data-zoom-level="1.25"] .header__logo {
  transform: scale(0.75);
}
html[data-zoom-level="1.5"] {
  font-size: 7px;
}
html[data-zoom-level="1.5"] .header__logo {
  transform: scale(0.7);
}
html[data-zoom-level="1.75"] {
  font-size: 6px;
}
html[data-zoom-level="1.75"] .header__logo {
  transform: scale(0.7);
}
html[data-zoom-level="1.75"] select {
  background-size: 5px;
}
html[data-zoom-level="2"] {
  font-size: 5px;
}
html[data-zoom-level="2"] select {
  background-size: 5px;
}
html[data-zoom-level="2"] .header__logo {
  transform: scale(0.7);
}
html[data-zoom-level="2.5"] {
  font-size: 4px;
}
html[data-zoom-level="2.5"] select {
  background-size: 5px;
}
html[data-zoom-level="2.5"] .header__logo {
  transform: scale(0.7);
}
html[data-zoom-level="3"] {
  font-size: 3px;
}
html[data-zoom-level="3"] select {
  background-size: 4px;
}
html[data-zoom-level="3"] .header__logo {
  transform: scale(1.2);
}
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}
body:after {
  position: fixed;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s ease-in-out;
  z-index: 1;
}
body.open-modal {
  overflow: hidden;
  pointer-events: none;
}
body.open-modal .modal-window.open {
  z-index: 10;
  pointer-events: auto;
}
body.open-modal:after {
  background-color: rgba(0, 0, 0, 0.5);
}
body.safari * {
  -webkit-backdrop-filter: none !important;
          backdrop-filter: none !important;
}
body.open-sidebar {
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

main.content {
  flex: 1;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img:not(.pswp__img, .cover) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, 0.1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

em, i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.hidden {
  display: none;
}
@media (max-width: 560px) {
  .hidden-sm {
    display: none !important;
  }
}

.background-cover {
  background-size: cover;
}

.title {
  color: #1E1E1E;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 560px) {
  .title {
    font-size: 3.2rem;
  }
}

.text {
  color: #8A8E94;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}
@media (max-width: 560px) {
  .text {
    font-size: 1.4rem;
  }
}

.full-width {
  width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  gap: 0.6rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(30, 30, 30, 0.6);
  background-color: #fff;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  transition: 0.5s ease;
}
.button:hover {
  background: #1E1E1E;
  color: #fff;
}
.button .icon {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.slide-left-to-right {
  animation: 0.5s linear 0.1ms left-to-right;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

@media (max-width: 560px) {
  .show-after-load-sm {
    opacity: 0;
  }
}
@media (max-width: 560px) {
  .show-after-load-sm.loaded {
    opacity: 1;
  }
}

.custom-select {
  position: relative;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}
.custom-select-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  cursor: pointer;
}
.custom-select-value__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  transition: 0.5s ease;
}
.custom-select-list {
  display: none;
  padding-top: 2rem;
  position: absolute;
  top: 100%;
  width: 10rem;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  max-height: 20rem;
  overflow: auto;
  cursor: pointer;
}
.custom-select-list__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem 1rem;
  gap: 0.6rem;
}
.custom-select-list__item.current {
  pointer-events: none !important;
  background-color: rgba(0, 0, 0, 0.4);
}
.custom-select-list__item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.custom-select:hover .custom-select-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-select:hover .custom-select-value__icon {
  transform: rotate(180deg);
}

@media (min-width: 561px) {
  .hidden-on-desktop {
    display: none;
  }
}

@media (min-width: 831px) {
  .show-on-tablet {
    display: none;
  }
}

@media (max-width: 560px) {
  .hidden-on-mobile {
    display: none;
  }
}

@media (max-width: 830px) {
  .hidden-on-tablet {
    display: none;
  }
}

.burger {
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 2rem;
  width: 3rem;
  height: 2rem;
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1E1E1E;
  transition: 0.5s ease;
}
.burger span:nth-child(2) {
  margin: auto;
}
.burger.active {
  display: none;
}
.burger.active span:nth-child(1), .burger.active span:nth-child(3) {
  opacity: 0;
}
@media (max-width: 1024px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.chart-js {
  position: relative;
}
.chart-js.loading > * {
  opacity: 0;
}
.chart-js.loading:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
}
.chart-js.loading.small-chart:after {
  background-size: 50rem 50rem;
}

.wpcf7-not-valid-tip, .wpcf7-response-output {
  display: none !important;
}

.wpcf7-not-valid {
  color: red !important;
  border-color: red !important;
}

.wpcf7-not-valid::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red !important;
}

.wpcf7-not-valid::-moz-placeholder { /* Firefox 19+ */
  color: red !important;
}

.wpcf7-not-valid:-ms-input-placeholder { /* IE 10+ */
  color: red !important;
}

.wpcf7-not-valid:-moz-placeholder { /* Firefox 18- */
  color: red !important;
}

.wpcf7-form.unaccepted .mf4v_checker_text {
  color: red !important;
}

span.wpcf7-list-item {
  margin: 0 !important;
}

.mfv_checker_label .wpcf7-form-control-wrap {
  display: none;
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-form.unaccepted {
  color: red !important;
}

.wpcf7-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.7rem;
}

.form-group.error .selectric {
  border-color: red !important;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + .icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(30, 30, 30, 0.1);
  background-color: #fff;
}
input[type=checkbox] + .icon:after {
  position: absolute;
  content: "✓";
  display: inline-block;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type=checkbox]:checked + .icon:after {
  opacity: 1;
}

input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(30, 30, 30, 0.1);
  color: #A7A9AC;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  transition: 0.5s ease;
}
input[type=password] {
  padding-right: 4rem;
}
input::-moz-placeholder {
  color: #A7A9AC;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
input::placeholder {
  color: #A7A9AC;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
input:hover, input:focus {
  border: 1px solid rgba(30, 30, 30, 0.3);
}

input.error, textarea.error {
  border-color: red !important;
  outline: none !important;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
@media (max-width: 560px) {
  .form {
    font-size: 1.2rem;
    gap: 1.6rem;
  }
}
.form a {
  display: block;
  color: #0CAE35;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 560px) {
  .form a {
    font-size: 1.2rem;
  }
}
.form a:hover {
  text-decoration: underline;
}
.form > * {
  width: 100%;
}
.form > *.half {
  width: calc(50% - 1rem);
}
@media (max-width: 560px) {
  .form > *.half {
    width: 100%;
  }
}
.form > *.half:not(:nth-child(1)) a {
  margin-left: auto;
}
@media (max-width: 560px) {
  .form > *.half:not(:nth-child(1)) a {
    margin-left: 0;
  }
}
.form-lost-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(50% - 1rem);
  justify-content: flex-end;
  text-align: right;
}
.form-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: calc(50% - 1rem);
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form-group__title {
  display: block;
  margin-bottom: 1rem;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 560px) {
  .form-group__title {
    font-size: 1.2rem;
  }
}
.form-password {
  position: relative;
  display: block;
  width: 100%;
}
.form-password__button {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
.form-password__button:hover {
  transform: scale(1.1) translateY(-50%);
}
.form button {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  background: #1E1E1E;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  cursor: pointer;
}
.form button:hover {
  background: #000000;
}

select {
  padding: 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(30, 30, 30, 0.1);
  width: 100%;
  color: #A7A9AC;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNy40NjgyNCA5LjgwOTk0TDEyLjgwODMgNC41MDc1OEMxMi45MzE5IDQuMzg0OTUgMTMgNC4yMjEyNCAxMyA0LjA0NjY4QzEzIDMuODcyMTIgMTIuOTMxOSAzLjcwODQxIDEyLjgwODMgMy41ODU3N0wxMi40MTUxIDMuMTk1MjlDMTIuMTU4OSAyLjk0MTIgMTEuNzQyNSAyLjk0MTIgMTEuNDg2NyAzLjE5NTI5TDcuMDAyNDkgNy42NDc4MUwyLjUxMzI2IDMuMTkwMzVDMi4zODk2NSAzLjA2NzcxIDIuMjI0ODcgMyAwMi4wNDkxNiAzQzEuODczMjYgMyAxLjcwODQ4IDMuMDY3NzEgMS41ODQ3NyAzLjE5MDM1TDEuMTkxNzEgMy41ODA4M0MxLjA2ODEgMy43MDM1NiAxIDMuODY3MTggMSA0LjA0MTc0QzEgNC4yMTYzIDEuMDY4MSA0LjM4MDAxIDEuMTkxNzEgNC41MDI2NEw2LjUzNjY0IDkuODA5OTRDNi42NjA2NCA5LjkzMjg3IDYuODI2MiAxMCA3LjAwMjE5IDEwQzcuMTc4ODggMTAuMDAwNCA3LjM0NDM0IDkuOTMyODcgNy40NjgyNCA5LjgwOTk0WiIgZmlsbD0iIzFFMUUxRSIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
select.dark, select.black {
  color: #fff;
  background-color: rgba(65, 64, 66, 0.4);
  border: 1px solid rgba(30, 30, 30, 0);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNy40NjgyNCA5LjgwOTk0TDEyLjgwODMgNC41MDc1OEMxMi45MzE5IDQuMzg0OTUgMTMgNC4yMjEyNCAxMyA0LjA0NjY4QzEzIDMuODcyMTIgMTIuOTMxOSAzLjcwODQxIDEyLjgwODMgMy41ODU3N0wxMi40MTUxIDMuMTk1MjlDMTIuMTU4OSAyLjk0MTIgMTEuNzQyNSAyLjk0MTIgMTEuNDg2NyAzLjE5NTI5TDcuMDAyNDkgNy42NDc4MUwyLjUxMzI2IDMuMTkwMzVDMi4zODk2NSAzLjA2NzcxIDIuMjI0ODcgMyAwMi4wNDkxNiAzQzEuODczMjYgMyAxLjcwODQ4IDMuMDY3NzEgMS41ODQ3NyAzLjE5MDM1TDEuMTkxNzEgMy41ODA4M0MxLjA2ODEgMy43MDM1NiAxIDMuODY3MTggMSA0LjA0MTc0QzEgNC4yMTYzIDEuMDY4MSA0LjM4MDAxIDEuMTkxNzEgNC41MDI2NEw2LjUzNjY0IDkuODA5OTRDNi42NjA2NCA5LjkzMjg3IDYuODI2MiAxMCA3LjAwMjE5IDEwQzcuMTc4ODggMTAuMDAwNCA3LjM0NDM0IDkuOTMyODcgNy40NjgyNCA5LjgwOTk0WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
}
select.black {
  background-color: #1E1E1E;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.checkbox-wrapper a {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes marqueeTable {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loading {
  0% {
    width: 1%;
  }
  100% {
    width: 90%;
  }
}
.authorization-after-form {
  text-align: center;
}
.authorization-after-form a {
  font-weight: 500;
}
.authorization-after-form a:hover {
  text-decoration: underline;
}
.authorization-button:not(:last-child) {
  margin-bottom: 1.6rem;
}
.authorization-form:not(:last-child) {
  margin-bottom: 1rem;
}
.authorization-form-container {
  width: 100%;
  max-width: 44.2rem;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 560px) {
  .authorization-form-container {
    max-width: 100%;
  }
}
.authorization-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
}
.authorization-section__text {
  margin-bottom: 3rem;
}
.authorization-section__title {
  margin-bottom: 2rem;
}
.authorization-section__logo {
  display: none;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 2.6rem;
}
@media (max-width: 560px) {
  .authorization-section__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.authorization-image {
  position: relative;
  width: 50%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  border-radius: 0rem 4rem 4rem 0rem;
}
@media (max-width: 560px) {
  .authorization-image {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    height: 100vh;
    animation: none !important;
    transition: 0.4s ease;
    transition-delay: 0.5s;
    pointer-events: none;
  }
}
@media (max-width: 560px) {
  .authorization-image.loaded {
    opacity: 0;
  }
}
.authorization-image-load {
  position: absolute;
  width: 18rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10rem;
  height: 0.6rem;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  overflow: hidden;
}
@media (min-width: 561px) {
  .authorization-image-load {
    display: none;
  }
}
.authorization-image-load__progress {
  height: 100%;
  width: 90%;
  border-radius: 32px;
  background-color: #fff;
  animation: 0.5s linear 0.1ms loading;
}
.authorization-image-load__progress.loaded {
  width: 100%;
}

.registration-steps {
  width: 100%;
  margin-bottom: 3rem;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.registration-steps-visual {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.registration-steps-visual span {
  height: 4px;
  border-radius: 1px;
  background: #E2E2E2;
}
.registration-steps-visual span.active {
  background: #0CAE35;
}
.registration-steps-visual > * {
  width: 100%;
}
.registration-steps__title {
  margin-bottom: 3px;
}
.registration-section__title {
  margin-bottom: 2rem;
}
.registration-section__logo {
  margin-bottom: 4rem;
}
.registration-form:not(:last-child) {
  margin-bottom: 1.6rem;
}

.password-recovery-form:not(:last-child) {
  margin-bottom: 1rem;
}
.password-recovery-form button {
  margin-top: 0;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1E1E1E;
  min-height: 100vh;
}
.main-section .hidden-element + .main-content {
  border-radius: 0;
}
.main-section .hidden-element + .main-content .sidebar-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .main-section .hidden-element + .main-content .sidebar-show {
    display: none;
  }
}
.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 3rem;
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
  background: #FFF;
  color: #1E1E1E;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
}
@media (max-width: 560px) {
  .main-header {
    gap: 1.5rem;
  }
}
.main-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-header-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.main-header__title {
  margin-right: auto;
}
.main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  padding: 3rem;
}
@media (max-width: 1200px) {
  .main-row {
    padding: 1.4rem;
    gap: 1.5rem;
  }
}
@media (max-width: 560px) {
  .main-row {
    padding: 0;
  }
}
.main-wrapper {
  width: calc(100% - 36rem);
}
@media (max-width: 1200px) {
  .main-wrapper {
    padding: 1.4rem;
  }
}
@media (max-width: 830px) {
  .main-wrapper {
    width: 100%;
  }
}
.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;
  padding: 2.5rem;
  background-position: bottom right;
  background-color: #1E1E1E;
  min-height: 16rem;
  background-repeat: no-repeat;
  border-radius: 1.2rem;
}
.main-banner:not(:last-child) {
  margin-bottom: 2.5rem;
}
.main-banner__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 2rem;
  border-radius: 0.6rem;
  background: #FFF;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  transition: 0.5s ease;
}
.main-banner__button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
}
.main-banner__button:hover {
  color: #FFF;
  background: #1E1E1E;
}
@media (max-width: 560px) {
  .main-banner__button {
    padding: 0.6rem 1.6rem;
  }
}
.main-banner__title {
  margin-bottom: 1.2rem;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 560px) {
  .main-banner__title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
  }
}
.main-banner__subtitle {
  margin-bottom: 1.2rem;
}
@media (max-width: 560px) {
  .main-banner__subtitle {
    margin-bottom: 0.4rem;
  }
}
.main-banner-content {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
}
@media (max-width: 560px) {
  .main-banner-content {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }
}
.main-banner__controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
}
.main-banner__controls .custom-select {
  display: inline-block;
  margin-left: 1rem;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
}
@media (max-width: 560px) {
  .main-banner__controls .custom-select {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
  }
}
.main-banner__controls .custom-select-list {
  background-color: #1E1E1E;
}
@media (max-width: 560px) {
  .main-banner__controls {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
  }
}
@media (max-width: 1200px) {
  .main-banner {
    padding: 1.4rem;
  }
}
@media (max-width: 560px) {
  .main-banner {
    flex-direction: column;
  }
}
.main-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  padding: 2.5rem 2.2rem;
  border-radius: 1.2rem;
  border: 1px solid rgba(30, 30, 30, 0.08);
  background: #FFF;
}
@media (max-width: 560px) {
  .main-data {
    flex-direction: column-reverse;
  }
}
.main-data-chart {
  width: 100%;
  height: 41rem;
  overflow: hidden;
}
@media (max-width: 560px) {
  .main-data-chart {
    height: 30rem;
  }
}
.main-data-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-data__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: rgba(30, 30, 30, 0);
  color: #1E1E1E;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  transition: 0.5s ease;
}
.main-data__button:hover {
  background: rgba(30, 30, 30, 0.2);
}
.main-data__button.active {
  color: #fff;
  background: #1e1e1e;
}
.main-data__title {
  color: #1E1E1E;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem; /* 120% */
}
.main-data-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .main-data-head {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main-data-column {
  width: calc(100% - 25.5rem);
}
@media (max-width: 560px) {
  .main-data-column {
    width: 100%;
  }
}
.main-data-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 23.3rem;
}
@media (max-width: 560px) {
  .main-data-sidebar {
    width: 100%;
  }
}
.main-data-card {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 2rem;
  border-radius: 1.2rem;
  border: 1px solid rgba(30, 30, 30, 0.1);
  background: #FFF;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 560px) {
  .main-data-card {
    padding: 1rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
  }
}
.main-data-card.dark {
  background-color: #1E1E1E;
  color: #fff;
}
.main-data-card__chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100rem;
  height: 80rem;
  opacity: 0;
  pointer-events: none;
}
.main-data-card__chart-wrapper {
  position: relative;
  width: 10rem;
  height: 5rem;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (max-width: 560px) {
  .main-data-card__chart-wrapper {
    width: 12rem;
    height: 6rem;
  }
}
.main-data-card__chart.chart-init {
  transform: translateX(-50%) translateY(-50%) scale(0.05);
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 560px) {
  .main-data-card__chart.chart-init {
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }
}
.main-data-card__chart img {
  transition: 0.5s ease;
}
.main-data-card__chart:hover img {
  transform: scale(1.1);
}
.main-data-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  color: #8A8E94;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-data-card__footer strong {
  font-style: normal;
  font-weight: 400;
  color: #0CAE35;
}
@media (max-width: 560px) {
  .main-data-card__footer {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
}
.main-data-card__title {
  margin-bottom: 1.3rem;
}
.main-data-card-content {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  justify-content: space-between;
}
.main-data-card__number {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 560px) {
  .main-data-card__number {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
  }
}
.main-data-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 1.3rem;
}
.main-data-card__button {
  width: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
}
@media (max-width: 1200px) {
  .main-data {
    padding: 1.4rem;
  }
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4rem 0rem 0rem 4rem;
  transition: border-radius 1s ease;
  overflow: hidden;
  background: #F6F6F6;
}
@media (max-width: 1024px) {
  .main-content {
    border-radius: 0;
  }
}
.main-content.full-width .main-wrapper {
  width: calc(100% - 33.7rem);
}
@media (max-width: 830px) {
  .main-content.full-width .main-wrapper {
    width: 100%;
  }
}
.main-footer {
  margin-top: auto;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(30, 30, 30, 0.1);
  color: #A7A9AC;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
.main-footer__link:hover {
  text-decoration: underline;
}
@media (max-width: 560px) {
  .main-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6rem 6rem 1rem;
  position: absolute;
}
@media (max-width: 810px) {
  .header {
    padding: 2rem 2rem 1rem;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24.5rem;
  height: 2.9rem;
  flex-shrink: 0;
}
@media (max-width: 720px) {
  .header__logo {
    max-width: 12rem;
    height: 1.6rem;
  }
}
@media (max-width: 560px) {
  .header__logo {
    position: absolute;
    width: 24.5rem;
    height: 2.9rem;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%) translateY(20rem);
  }
}
.header__logo.hidden {
  display: none;
}

.sidebar {
  position: relative;
  z-index: 20;
  width: 31.2rem;
  background-color: #1E1E1E;
  min-height: 100vh;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }
}
@media (max-width: 1024px) {
  .sidebar.show {
    transform: translateX(0);
  }
}
.sidebar-hide {
  position: absolute;
  right: 0;
  top: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 4.6rem;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgba(65, 64, 66, 0.4);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.sidebar-hide:hover {
  background-color: rgba(65, 64, 66, 0.8);
}
.sidebar-show {
  display: none;
  position: absolute;
  left: 0;
  top: 3.3rem;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 4.6rem;
  flex-shrink: 0;
  flex-grow: 0;
  transform: rotate(180deg);
  background-color: rgba(65, 64, 66, 0.4);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.sidebar-show:hover {
  background-color: rgba(65, 64, 66, 0.8);
}
.sidebar-container {
  position: sticky;
  top: 0;
  width: 31.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}
.sidebar__logo {
  width: 17.1rem;
  height: 2.1rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.sidebar-form {
  padding: 0 2rem;
}
.sidebar-form:not(:last-child) {
  margin-bottom: 2rem;
}
.sidebar-head {
  position: relative;
  padding: 3rem;
  padding-top: 5rem;
  margin-bottom: 2rem;
}
.sidebar-head:after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  max-width: 25.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(167, 169, 172, 0.12);
}
.sidebar-nav {
  margin-bottom: auto;
}
.sidebar-nav .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.sidebar-nav .icon svg path {
  fill: #A7A9AC;
}
.sidebar-nav .arrow {
  position: absolute;
  right: 2rem;
  width: 1.4rem;
  height: 1.4rem;
  flex-shrink: 0;
  flex-grow: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease;
}
.sidebar-nav a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 4rem 1.6rem 2rem;
  background: rgba(65, 64, 66, 0);
  color: #A7A9AC;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  transition: 0.5s ease;
}
.sidebar-nav a:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
  background: #56FF9B;
  opacity: 0;
  transition: 0.5s ease;
}
.sidebar-nav a:hover {
  background: rgba(65, 64, 66, 0.2);
}
.sidebar-nav a.active {
  color: #fff;
  background: rgba(65, 64, 66, 0.4);
}
.sidebar-nav a.active svg path {
  fill: #fff;
}
.sidebar-nav a.active:before {
  opacity: 1;
}
.sidebar-nav a.active .arrow {
  transform: translateY(-50%) rotate(180deg);
}
.sidebar-nav a.active .arrow svg path {
  fill: #fff;
}
.sidebar-nav ul > li {
  width: 100%;
}
.sidebar-nav .sub-list {
  display: none;
  padding-left: 5rem;
  background: rgba(65, 64, 66, 0.4);
  border-top: 1px solid rgba(65, 64, 66, 0.6);
  border-bottom: 1px solid rgba(65, 64, 66, 0.6);
}
.sidebar-nav .sub-list a {
  padding: 1.2rem;
}
.sidebar-nav .sub-list a:hover {
  color: #fff;
}
.sidebar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  background: rgba(65, 64, 66, 0.4);
}
@media (max-width: 560px) {
  .sidebar-user {
    margin-bottom: 8rem;
  }
}
.sidebar-user-arrow {
  margin-left: auto;
  width: 1.4rem;
  height: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.sidebar-user__role {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem; /* 128.571% */
}
.sidebar-user__name {
  display: block;
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem; /* 128.571% */
}
.sidebar-user__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.transactions {
  width: 38.6rem;
  padding: 2.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 1.2rem;
  border: 1px solid rgba(30, 30, 30, 0.08);
  background: #FFF;
}
@media (max-width: 1200px) {
  .transactions {
    width: 34rem;
    padding: 1.4rem;
  }
}
@media (max-width: 830px) {
  .transactions {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 560px) {
  .transactions {
    margin-bottom: 1.5rem;
  }
}
.transactions__title {
  color: #1E1E1E;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
}
@media (max-width: 560px) {
  .transactions__title {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }
}
.transactions-form {
  width: 11rem;
}
.transactions-head {
  margin-bottom: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}
.transactions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media (max-width: 560px) {
  .transactions-list {
    gap: 1rem;
  }
}
.transactions-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
@media (max-width: 830px) {
  .transactions-item {
    justify-content: flex-start;
  }
}
.transactions-item__value {
  color: #0CAE35;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.transactions-item__value.long-value {
  font-size: 1.2rem;
}
@media (max-width: 830px) {
  .transactions-item__value {
    margin-left: auto;
  }
}
@media (max-width: 560px) {
  .transactions-item__value {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
  }
}
.transactions-item__date {
  color: #8A8E94;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
@media (max-width: 560px) {
  .transactions-item__date {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
  }
}
.transactions-item__name {
  margin-bottom: 0.7rem;
  color: #1E1E1E;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 560px) {
  .transactions-item__name {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.transactions-item__icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  border-radius: 50%;
  background: rgba(12, 174, 53, 0.1);
}
@media (max-width: 560px) {
  .transactions-item__icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
}
