html {
  font-size: 10px;
  @media (max-width: 1500px) {
    font-size: 8px;
  }
  @media (max-width: 560px) {
    font-size: 10px;
  }
  //
  //&[data-zoom-level="0.25"] {
  //  font-size: 40px;
  //
  //  .header__logo {
  //    transform: scale(4);
  //  }
  //
  //}
  //
  //&[data-zoom-level="0.33"] {
  //  font-size: 33px;
  //
  //  .header__logo {
  //    transform: scale(3.3);
  //  }
  //}
  //
  //&[data-zoom-level="0.5"] {
  //  font-size: 20px;
  //
  //  .header__logo {
  //    transform: scale(2);
  //  }
  //}
  //
  //&[data-zoom-level="0.67"] {
  //  font-size: 16px;
  //
  //  .header__logo {
  //    transform: scale(1.6);
  //  }
  //}
  //
  //&[data-zoom-level="0.75"] {
  //  font-size: 13px;
  //
  //  .header__logo {
  //    transform: scale(1.25);
  //  }
  //}
  //
  //&[data-zoom-level="0.8"] {
  //  font-size: 12px;
  //
  //  .header__logo {
  //    transform: scale(1.2);
  //  }
  //}
  //
  //&[data-zoom-level="0.9"] {
  //  font-size: 11px;
  //
  //  .header__logo {
  //    transform: scale(1.1);
  //  }
  //}
  //
  //&[data-zoom-level="1"] {
  //}
  //
  //&[data-zoom-level="1.1"] {
  //  font-size: 9px;
  //
  //  .header__logo {
  //    transform: scale(0.9);
  //  }
  //}
  //
  //&[data-zoom-level="1.25"] {
  //  font-size: 8px;
  //
  //  .header__logo {
  //    transform: scale(0.75);
  //  }
  //}
  //
  //&[data-zoom-level="1.5"] {
  //  font-size: 7px;
  //
  //  .header__logo {
  //    transform: scale(0.7);
  //  }
  //}
  //
  //&[data-zoom-level="1.75"] {
  //  font-size: 6px;
  //
  //  .header__logo {
  //    transform: scale(0.7);
  //  }
  //
  //  select {
  //    background-size: 5px;
  //  }
  //}
  //
  //&[data-zoom-level="2"] {
  //  font-size: 5px;
  //
  //  select {
  //    background-size: 5px;
  //  }
  //
  //  .header__logo {
  //    transform: scale(0.7);
  //  }
  //}
  //
  //&[data-zoom-level="2.5"] {
  //  font-size: 4px;
  //
  //  select {
  //    background-size: 5px;
  //  }
  //
  //  .header__logo {
  //    transform: scale(0.7);
  //  }
  //}
  //
  //&[data-zoom-level="3"] {
  //  font-size: 3px;
  //
  //  select {
  //    background-size: 4px;
  //  }
  //
  //  .header__logo {
  //    transform: scale(1.2);
  //  }
  //}
  //
  //&[data-zoom-level="5"] {
  //}
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;

  &:after {
    position: fixed;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out;
    z-index: 21;
  }

  &.open-modal {
    overflow: hidden;
    pointer-events: none;

    .modal-window.open {
      z-index: 22;
      pointer-events: auto;
    }

    &:after {
      background-color: rgba(0, 0, 0, 0.22);
    }
  }

  &.open-notifications {
    overflow: hidden;
    pointer-events: none;

    .notifications-wrap {
      pointer-events: auto;
    }

    .main-header {
      z-index: 22;
    }

    &:after {
      background-color: rgba(0, 0, 0, 0.22);
    }
  }

  &.open-chat {
    overflow: hidden;
    pointer-events: none;

    .chat-wrap {
      pointer-events: auto;
    }

    .main-header {
      z-index: 22;
    }

    &:after {
      background-color: rgba(0, 0, 0, 0.22);
    }
  }

  &.safari * {
    backdrop-filter: none !important;
  }

  &.open-sidebar {
    overflow: hidden;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

main.content {
  flex: 1;
  //min-height: 100vh;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img:not(.pswp__img, .cover) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

em, i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.hidden {
  display: none;

  &-sm {
    @media (max-width: 560px) {
      display: none !important;
    }
  }
}

.background-cover {
  background-size: cover;
}

.title {
  color: #1E1E1E;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media (max-width: 560px) {
    font-size: 3.2rem;
  }

  &-head {
    color: #1E1E1E;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    @media (max-width: 560px) {
      font-size: 1.6rem;
    }
  }
}

.text {
  color: #8A8E94;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  @media (max-width: 560px) {
    font-size: 1.4rem;
  }
}

.full-width {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  gap: 0.6rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(30, 30, 30, 0.60);
  background-color: #fff;

  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  transition: 0.5s ease;


  &:hover {
    background: #1E1E1E;
    color: #fff;

    .icon {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .icon {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &--blue {
    background: #E8F0FD;
    border: 1px solid #E8F0FD;
    color: #5390F3;

  }


  &--dark {
    background: #1E1E1E;
    color: #fff;
    border: none;

    &:hover {
      background: #fff;
      color: #1E1E1E;

      .icon {
        svg {
          path {
            fill: #1E1E1E;
          }
        }
      }
    }
  }

  &--red {
    background: #D12929;
    border: 1px solid #D12929;
    color: #FFFFFF;

    &:hover {
      background: #FFFFFF;
      color: #D12929;
    }
  }
}

.slide-left-to-right {
  animation: 0.5s linear 0.1ms left-to-right;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.show-after-load-sm {
  @media (max-width: 560px) {
    opacity: 0;
  }

  &.loaded {
    @media (max-width: 560px) {
      opacity: 1;
    }
  }
}

.custom-select {
  position: relative;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;

  &-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    cursor: pointer;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      transition: 0.5s ease;
    }
  }

  &-list {
    display: none;
    padding-top: 2rem;
    position: absolute;
    top: 100%;
    width: 10rem;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    max-height: 20rem;
    overflow: auto;
    cursor: pointer;

    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.6rem 1rem;
      gap: 0.6rem;

      &.current {
        pointer-events: none !important;
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &:hover {
    .custom-select-list {
      display: flex;
    }

    .custom-select-value__icon {
      transform: rotate(180deg);
    }
  }
}

.hidden-on-desktop {
  @media (min-width: 561px) {
    display: none !important;
  }
}

.show-on-tablet {
  @media (min-width: 831px) {
    display: none;
  }
}

.hidden-on-mobile {
  @media (max-width: 560px) {
    display: none;
  }
}

.hidden-on-tablet {
  @media (max-width: 830px) {
    display: none;
  }
}

.burger {
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 2rem;
  width: 3rem;
  height: 2rem;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1E1E1E;
    transition: 0.5s ease;

    &:nth-child(2) {
      margin: auto;
    }
  }

  &.active {
    display: none;

    span {
      &:nth-child(1), &:nth-child(3) {
        opacity: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}

.chart-js {
  position: relative;

  &.loading {
    & > * {
      opacity: 0;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 5rem 5rem;
    }

    &.small-chart {
      &:after {
        background-size: 50rem 50rem;
      }
    }
  }

}

.pagination {
  display: flex;

  &__prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  span {
    pointer-events: none;
  }

  a, span {
    display: flex;
    width: 5rem;
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(30, 30, 30, 0.10);
    background: #FFF;
    transition: 0.5s ease;

    @media (max-width: 560px) {
      width: 3.9rem;
      height: 3.5rem;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8rem;
    }

    &:hover {
      background: rgba(#1E1E1E, 0.2);
    }

    &.active, &.current {
      background: #1E1E1E;
      color: #fff;
    }
  }
}

.switcher {
  display: block;
  width: 5.4rem;
  height: 2.8rem;
  cursor: pointer;

  @media (max-width: 560px) {
    width: 4.2rem;
    height: 2.4rem;
  }

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2px;
    border-radius: 1.4rem;
    transition: background-color 0.5s ease;

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      left: 2px;
      width: 2.4rem;
      height: 2.4rem;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 50%;
      background-color: #767676;
      transition: 0.5s ease, transform 1s ease;
      @media (max-width: 560px) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  input {
    display: none;

    &:checked + span {
      background-color: rgba(#0CAE35, 0.1);

      &:after {
        margin-left: 2.6rem;
        background-color: #0CAE35;
        transform: rotate(180deg);
        @media (max-width: 560px) {
          margin-left: 1.8rem;
        }
      }
    }
  }
}

.not-margin {
  margin: 0 !important;
}

.padding-top-none {
  padding-top: 0 !important;
}

.safari-gap {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.full-width {
  .custom-table {
    @media (max-width: 1500px) {
      width: 175rem;
    }
    @media (max-width: 1024px) {
      width: 120rem;
    }
  }
}

.custom-table {
  margin: auto;

  &-wrapper {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    @media (max-width: 1500px) {
      overflow: auto;
    }
    @media (max-width: 560px) {
      padding-bottom: 2rem;
    }
  }

  border-radius: 1.2rem;
  border: 1px solid rgba(30, 30, 30, 0.10);
  background: #FFF;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;

  @media (max-width: 1500px) {
    width: 150rem;
  }

  @media (max-width: 560px) {
    padding-bottom: 0 !important;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
  }

  &__button {
    width: 100%;
    display: flex;
    padding: 0.8rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.6rem;
    background: #1E1E1E;

    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.4s ease;

    &:hover {

      background: #fff;

      color: #1E1E1E;
    }
  }

  &__sum {
    color: #0CAE35;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 560px) {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6rem;
    }

    &.minus {
      color: #E22C2C;
    }
  }

  &-row {
    display: flex;

    &:not(.history-table-head) {
      align-items: stretch;

      & > * {
        display: flex;
        align-items: start;
        justify-content: center
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(30, 30, 30, 0.10);
    }
  }

  &-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 1rem;

    &:not(:last-child) {
      border-right: 1px solid rgba(30, 30, 30, 0.10);
    }
  }

  &-head {
    color: #1E1E1E;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;

    &__select {
      padding-right: 4rem;
      border-radius: 0.6rem;
      border: 1px solid rgba(30, 30, 30, 0.10);
      color: #1E1E1E;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8rem;

      &:hover {
        border: 1px solid rgba(30, 30, 30, 0.60);
      }
    }

    &__label {
      position: relative;
      display: flex;
      width: 100%;

      input {
        &[type="date"], &[type="text"] {
          color: #1E1E1E;
          width: 100%;
          padding: 1.2rem;
          border-radius: 0.6rem;
          border: 1px solid rgba(30, 30, 30, 0.10);
          background: #FFF;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.8rem;

          &:hover, &:focus {
            border: 1px solid rgba(30, 30, 30, 0.60);
          }

          &::placeholder {
            color: #A7A9AC;
          }
        }
      }

      .icon {
        position: absolute;
        left: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 2.6rem;
        height: 1.6rem;
        border-right: 1px solid #A7A9AC;

        & + input {
          padding-left: 5rem;
        }
      }
    }
  }

  &.last-colum-small {
    .custom-table-column:last-child {
      width: 70%;
    }
  }

}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1.2rem;
  border: 1px solid rgba(30, 30, 30, 0.10);
  background: #FFF;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  @media (max-width: 1200px) {
    width: 140rem;
  }
  @media (max-width: 560px) {
    padding-bottom: 0 !important;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
  }

  tr:not(:last-child) {
    td {
      border-bottom: 1px solid rgba(30, 30, 30, 0.10);
    }
  }

  thead {
    color: #1E1E1E;
    text-align: left;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    th {
      border-bottom: 1px solid rgba(30, 30, 30, 0.10);

    }
  }

  th, td {


    padding: 1.2rem;

    &:not(:last-child) {
      border-right: 1px solid rgba(30, 30, 30, 0.10);
    }
  }

  label {
    margin-top: 1rem;
    position: relative;
    display: flex;
    width: 100%;

    input {
      &[type="date"], &[type="text"] {
        color: #1E1E1E;
        width: 100%;
        padding: 1.2rem;
        border-radius: 0.6rem;
        border: 1px solid rgba(30, 30, 30, 0.10);
        background: #FFF;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;

        &:hover, &:focus {
          border: 1px solid rgba(30, 30, 30, 0.60);
        }

        &::placeholder {
          color: #A7A9AC;
        }
      }
    }

    .icon {
      position: absolute;
      left: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 2.6rem;
      height: 1.6rem;
      border-right: 1px solid #A7A9AC;

      & + input {
        padding-left: 5rem;
      }
    }
  }

  select {
    padding-right: 4rem;
    border-radius: 0.6rem;
    border: 1px solid rgba(30, 30, 30, 0.10);
    color: #1E1E1E;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;

    &:hover {
      border: 1px solid rgba(30, 30, 30, 0.60);
    }
  }

  &.last-colum-small {
    th, td {
      &:last-child {
        width: 15rem;
      }
    }
  }

  &.last-colum-mini {
    th, td {
      &:last-child {
        width: 9rem;
      }
    }
  }
}

.table {
  &-merchants {
    td {
      vertical-align: middle;

      &:last-child {
        padding: 0.5rem 1.2rem;
      }
    }
  }

  &__sum {
    color: #0CAE35;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 560px) {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6rem;
    }

    &.minus {
      color: #E22C2C;
    }
  }

  &-control {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-controls {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 0.4rem;
    }
  }

  &-merchants {
    @media (max-width: 1200px) {
      width: 120rem;
    }
    @media (max-width: 560px) {
      width: 95rem;
    }
  }
}

.box {
  padding: 2.5rem;
  border-radius: 1.2rem;
  border: 1px solid rgba(30, 30, 30, 0.08);
  background-color: #fff;
}

.full-height {
  height: 100%;
}

.social-networks {
  display: flex;
  @media (max-width: 560px) {
    flex-wrap: wrap;
    width: 100%;
  }

  & > *:not(:last-child) {
    margin-right: 0.8rem;
    @media (max-width: 560px) {
      margin-right: 0.4rem;
    }
  }
}

.social-network {
  display: flex;
  min-width: 17.7rem;
  padding: 1rem 2rem;
  height: 4.4rem;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.6rem;
  background: #1E1E1E;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  @media (max-width: 560px) {
    width: calc(50% - 0.2rem);
    min-width: auto;
  }
  @media (max-width: 450px) {
    padding: 1rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    width: 2rem;
    height: 2rem;
  }
}