.merchant-settings{
  &-head{
    margin-bottom: 2rem;
    display: inline-flex;
    background: #fff;
    border-radius: 0.6rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    @media (max-width: 560px) {
      width: calc(100% - 3.2rem);
      overflow: auto;
      margin-left: 1.6rem;
      margin-right: 1.6rem!important;
    }
    &__item {
      min-width: 17.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem;
      color: #1E1E1E;
      text-align: center;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8rem;
      border-radius: 0.6rem;
      background: #fff;
      @media (max-width: 560px) {
        min-width: 19rem;
      }
      &:hover {
        background: #1E1E1E;
        color: #fff;
      }

      &.active {
        background: #1E1E1E;
        color: #fff;
        font-weight: 500;
      }


    }
    &-wrap{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &-row{
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    &-column{
      &:nth-child(1){
        width: 75%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    & > *{
      &:not(:last-child){
        margin-right: 1.6rem;
        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 1.2rem;
        }
      }
    }
  }
  .settings-personal-information-avatar{
    height: auto;
  }
  select{
    color: #1E1E1E;
  }
  &-checkbox{
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0.6rem;
    background: #E9F1FD;
    color: #1E1E1E;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    &__icon{
      margin-right: 0.8rem;
      display: inline-flex;
      flex-grow: 0;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      border: 1px solid rgba(30, 30, 30, 0.10);
      background: #5390F3;

    }
    img{
      transform: translateY(-1rem) rotate(45deg);
      opacity: 0;
      transition: 0.1s ease-in-out;
    }
    input{
      display: none;
      &:checked{
        & + .merchant-settings-checkbox__icon{
          img{
            transform: translateY(0) rotate(0);
            opacity: 1;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
  &-socials{
    @media (max-width: 560px) {
      width: 100%;
    }
    &__title{
      margin-bottom: 0.8rem;
      color:  #1E1E1E;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  &-table{
    @media (max-width: 1200px){
      width: 100%;
    }
    @media (max-width: 560px){
      width: 50rem;
    }
  }
}