.wallet {
  &-function {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    display: flex;
    align-items: center;
    color: #8A8E94;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;

    @media (max-width: 560px) {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6rem;
    }

    &__icon {
      margin-right: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0.8rem;
      border-radius: 50%;
      background-color: rgba(#0CAE35, 0.1);
      @media (max-width: 560px) {
        margin-right: 0.8rem;
      }
    }
  }

  &-head {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2.4rem;
    @media (max-width: 560px) {
      margin-bottom: 1.4rem;
    }
  }

  &-box {
    padding: 2.5rem;
    width: calc(33.3% - 1rem);
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;

    @media (max-width: 1600px) {
      padding: 1.5rem;
    }
    @media (max-width: 768px) {
      width: 100%;
    }


    .main-list-item-head {
      margin-bottom: 1.2rem;
    }
    .text{

      @media (max-width: 560px) {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
      }
      ul li:before{
        top: 0.5rem;
      }
    }
  }

  &-license {
    @media (max-width: 1600px) {
     padding: 1.6rem;
    }
    @media (max-width: 1600px) {
      margin: 0;
    }
    &-table {
      &-wrap{
        @media (max-width: 1140px) {
          overflow-y: auto;
        }
        @media (max-width: 560px) {
          overflow: visible;
        }
      }
      padding-top: 2rem;
      color: #000;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.2rem;

      @media (max-width: 1140px) {
        width: 850px;
      }
      @media (max-width: 1030px) {
        width: 935px;
      }
      @media (max-width: 560px) {
        width: 100%;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
      }
      &__head {
        color: #000;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.2rem;

        @media (max-width: 560px) {
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.4rem;
        }
      }

      &__button {
        width: 33%;
        @media (max-width: 560px) {
          padding: 0.7rem 2rem;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.6rem;
        }
        @media (max-width: 440px) {
          width: 100%;
        }
      }

      &-controls {
        display: flex;
        @media (max-width: 1919px) {
          justify-content: space-between;
        }
        @media (max-width: 440px) {
          flex-direction: column;
        }
        & > *:not(:last-child) {
          margin-right: 0.8rem;
          @media (max-width: 1919px) {
            margin-right: 0.4rem;
          }
          @media (max-width: 440px) {
            margin-right: 0;
            margin-bottom: 0.8rem;
          }
        }
      }

      &-row {
        display: flex;
        align-items: center;
        border-radius: 1.2rem;
        background: #F6F6F6;
        padding: 1.4rem 0;

        @media (max-width: 560px) {
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 1rem;
          padding: 1.2rem;
        }

        @media (max-width: 440px) {
          padding: 0.8rem;
        }



        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      &-column {
        width: 100%;
        padding-right: 1.4rem;

        @media (max-width: 560px) {
          padding-right: 0;
        }

        &__head{
          display: none;
          color: #8A8E94;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.6rem;
          @media (max-width: 560px) {
            display: block;
            width: 100%;
            margin-bottom: 0.4rem;
          }
        }

        &:nth-child(1) {
          width: 26.8rem;
          padding-left: 1.4rem;
          @media (min-width: 1921px) {
            width: 50%;
          }
          @media (max-width: 560px) {
            width: 100%;
            padding-left: 0;
          }
        }

        &:nth-child(2) {
          width: 37.2rem;
          @media (max-width: 560px) {
            width: calc(50% - 1rem);
          }
          @media (max-width: 440px) {
            width: calc(55% - 1rem);
          }
          @media (max-width: 360px) {
            width: 100%;
          }
        }

        &:nth-child(3) {
          width: 23.3rem;
          @media (max-width: 560px) {
            width: calc(25% - 1rem);
          }
          @media (max-width: 360px) {
            width: 100%;
          }

        }

        &:nth-child(4) {
          width: 18.8rem;
          @media (max-width: 560px) {
            width: 25%;
          }
          @media (max-width: 440px) {
            width: 20%;
          }
          @media (max-width: 360px) {
            width: 100%;
          }
        }

        &:nth-child(5) {
          width: 43.7rem;
          @media (max-width: 1740px) {
            width: 50rem;
          }
          @media (max-width: 1640px) {
            width: 60rem;
          }
          @media (max-width: 1500px) {
            width:40rem;
          }
          @media (max-width: 1480px) {
            width:50rem;
          }
          @media (max-width: 1320px) {
            width:60rem;
          }
          @media (max-width: 1220px) {
            width:70rem;
          }
          @media (max-width: 1030px) {
            width:55rem;
          }
          @media (max-width: 560px) {
            width: 100%;
            padding-right: 0;
          }
        }
      }

      &-head {
        display: flex;
        align-items: center;
        padding-bottom: 1.6rem;
        color: #8A8E94;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.2rem;
        @media (max-width: 560px) {
          display: none;
        }
      }
    }

    &__title {
      color: #000;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &:not(:last-child) {
        margin-right: 2rem;
      }
      @media (max-width: 560px) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      @media (max-width: 560px) {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
    }
  }
}